.button-main {
    background-color: red;
}

.background {
    background-image: url("../../public/background.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;

    position: relative;
}